[global_config]
  title_transmit_fg_color = "#f4f5f0"
  title_transmit_bg_color = "#212322"
  title_inactive_fg_color = "#f4f5f0"
  title_inactive_bg_color = "#4b4f54"

[profiles]
  [[Sparky]]
    palette = "#212322:#e03e52:#78d64b:#f6eb61:#407ec9:#eb6fbd:#2dccd3:#dee6de:#4b4f54:#cb333b:#67b941:#fbdd40:#3a5dae:#c6579a:#48a9c5:#c8c9c7"
    foreground_color = "#f4f5f0"
    background_color = "#072b31"
    cursor_color = "#f4f5f0"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]