[profiles]
  [[Sparky]]
    palette = "#1a1c1d:#e03e52:#78d64b:#f6eb61:#407ec9:#eb6fbd:#2dccd3:#dee6de:#4d4d4d:#e03e52:#78d64b:#f2e358:#407ec9:#eb6fbd:#2dccd3:#dee6de"
    foreground_color = "#f2f2f2"
    background_color = "#072b31"
    cursor_color = "#f2f2f2"

[global_config]
  title_transmit_fg_color = "#f2f2f2"
  title_transmit_bg_color = "#1a1c1d"
  title_inactive_fg_color = "#f2f2f2"
  title_inactive_bg_color = "#4d4d4d"